$colors: (
  primary:    #456fc3,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  grey:       #666
);

$whiteText: #d7d8d9;
$greyText: #9b9ea0;
$blackText: #373d41;

$descColor: #4d4d4d;

$blackBg: #373d41;
$greyBg: #7F8082;
